{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions"
                    ]
                }
            }
        ]
    ],
    "plugins": [
        "transform-object-rest-spread",
        "babel-plugin-transform-async-generator-functions",
        [
            "transform-react-jsx",
            {
                "pragma": "h"
            }
        ]
    ]
}